<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="AEOA.VolunteerDriver.Properties.Settings.Volunteer_Dev_BradConnectionString" connectionString="Data Source=hermes\vd;Initial Catalog=Volunteer_Dev_Brad;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="AEOA.VolunteerDriver.Properties.Settings.Volunteer_DriverSQLConnectionString" connectionString="Data Source=hermes\vd;Initial Catalog=Volunteer_DriversSQL;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <!--add name="AEOA.VolunteerDriver.Properties.Settings.Volunteer_Dev_BradConnectionString" connectionString="Data Source=hermes\vd;Initial Catalog=Volunteer_DriverSQL;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	 <!--add name="AEOA.VolunteerDriver.Properties.Settings.Volunteer_Dev_BradConnectionString" connectionString="Data Source=AEOA007886-2\SQLEXPRESS;Initial Catalog=Volunteer_Driver_Dev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <!--add name="Volunteer_Dev_Brad_Entities" connectionString="metadata=res://*/VolunteerDev.csdl|res://*/VolunteerDev.ssdl|res://*/VolunteerDev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hermes\vd;initial catalog=Volunteer_Dev_Brad;integrated security=True;connect timeout=30;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--add name="AEOA.VolunteerDriver.Properties.Settings.Volunteer_DriverSQL" connectionString="metadata=res://*/VolunteerDriver.csdl|res://*/VolunteerDriver.ssdl|res://*/VolunteerDriver.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hermes\vd;initial catalog=Volunteer_Driver_SQL;integrated security=True;connect timeout=30;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup></startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>