<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="TelerikWinFormsApp2.Properties.Settings.Volunteer_Dev_BradConnectionString"
                        connectionString="Data Source=hermes\vd;Initial Catalog=Volunteer_Dev_Brad;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>